@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: NasaFont;
  src: url("../../font/nasalization/nasalization-rg.ttf"); }

body {
  margin: 0px;
  padding: 0px;
  background-color: #1E1E1E;
  color: white;
  font-family: NasaFont; }
  body a {
    color: white; }
  body a:hover {
    color: white; }

.imgClass {
  object-fit: cover; }

.edithClass {
  font-family: 'Roboto', sans-serif;
  margin-top: 10%;
  margin-left: 0%; }

.innclass {
  margin-top: 5%; }

.gridEdit {
  margin-bottom: 5%;
  color: white; }

.h1inner {
  margin-left: 28vw;
  font-size: 5em;
  margin-bottom: 50px; }

.flow {
  margin-bottom: 100px; }

.overflow {
  object-fit: cover;
  height: 25vh;
  overflow-y: scroll; }

.overflowImg {
  object-fit: cover;
  height: 35vh; }

.card {
  background-color: #191c1f; }

@media only screen and (min-width: 1200px) {
  .overideColor {
    margin-left: 60%;
    margin-top: 10px; }
    .overideColor a {
      font-size: 1.3em;
      margin-left: 80px; } }
