$standarColor:#1E1E1E;
$columColor:#6B6B6B;
$cardColor:#242121;
 
 
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: NasaFont;
    src:url("../../font/nasalization/nasalization-rg.ttf")
}
 
 
 

html {
    scroll-behavior: smooth;
  }
  
body {    
    margin:0px;
    padding:0px; 
    background-color: $standarColor;
    color:white;
    font-family: NasaFont;

    p { 
        font-family: 'Quicksand', sans-serif;

    }
}
 
.sectionHeader {
    background-image: url("../img/nasa-Q1p7bh3SHj8-unsplash.jpg"); 
    height: 100vh;   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;  
}
.innertext { 
    margin-top:30%;
    margin-left:12%;
 
    &__headText { 
        font-size:3em;        
    }
}
.overideColor {
    a { 
        color:white;
 
    }
}
 
.icon {
    margin-left:44%;
    margin-top:5%;
    cursor: pointer;
     
    i {
        font-size:4em;
    }
    a { 
        color:white;
    }
    a:hover { 
        color:white;
        text-decoration: none;    
}
}
 
.sectionTwo { 
    margin-top:10%;    
    background-color: $columColor;
    width: 100%;
    height: auto;       
}
 

.downToImage {
    width: 90%;
    height: 55%;
    margin-left:5%;
    margin-top:5%;
    object-fit: cover;
}

.row { 
    margin-right: 0px;
}
.edigth {
    margin-left:3%;
    height: 50vh; 
    background-color:$cardColor;
}
 
.innerGridClas { 
    padding-top:100px;
}
 
.gridCardOne  { 
    margin-top:20px;
    margin-bottom: 100px;
}
.spaceXLanuch {
   margin-top:12px;
   margin-bottom: 20%;
}
 
.spxGrid { 
    background-color:$cardColor;

    margin-left:10%;
    margin-top:20px;
    margin-bottom: 50px;
}
 
.innerSection { 
    h1 {
        margin-left:10%;
        font-size:2em;
    }
}
.inputSection { 
    margin-left:5%;
 
}
.cardhear {    
    margin-bottom: 8%;   
}
.bodyCover {
    object-fit: cover;
}
.btn-primary {
    margin-bottom: 10%;
}
.searchSection {
    margin-top:10%;
}

.innerfirstSection {
    margin-top:10%;
     
}
.swin {
    margin-top:10%;
}

.editj {
    object-fit: contain;
}
@keyframes smoothFrame {
    from {
        opacity: 0;
        margin-top:45%;
    }
    to { 
        opacity: 1;
        margin-top:40%;
    }        
}
@keyframes smoothFrame2 {
    from {
        opacity: 0;
        margin-top:5%;
    }
    to { 
        opacity: 1;
        margin-top:0%;
    }        
}
@keyframes smoothFrame3 {
    from {
        opacity: 0;
        margin-top:5%;
    }
    to { 
        opacity: 1;
        margin-top:3%;
    }        
}


@media only screen and (min-device-width: 400px) and  (max-device-width: 1000px) and  (orientation: landscape)  {
    .spxGrid {     
        margin-left:10%;        
    }
    .edigth {
        height: 150vh; 
        
    }
}
@media only screen  and (min-width: 1200px) {

    .icon {
        display: none;
        animation: smoothFrame2 1.5s;

       
    }

    .innertext {
        animation: smoothFrame 1.5s;
        display: none;
    }
    


    .innerSection {
        margin-bottom: 100px; 
        h1 { 
            margin-left:24vw;           
            font-size:3em;
            margin-bottom: 100px; 
        }
    }
    
    .scrollDiv {
        overflow-y: scroll;
        height:50vh;
    }
    
    .innerClass {
        width: 95%;        
        overflow-y: scroll;
        height:90vh;
    }

    .overHIddn {
        display:inline-block;
        margin-top:5% !important;
    }

    .overideColor { 
        margin-left:60%;
        margin-top:10px;
        a {
            font-size: 1.3em;
            margin-left:80px;                 
        }
    }

    .innertext { 
        margin-top:20%;   
        margin-left: 8vh;  
        &__headText { 
            font-size:7vh;        
        }
    }
    .cardhear {       
        font-size:1.2em;     
    }

    .newBtn { 
        margin-left:5%;
    }
    
}

@media only screen  and (min-width: 1600px) {


    .icon {
        display: none;
        animation: smoothFrame2 1.5s;
       
    }

    .innertext { 
        display: none;
        animation: smoothFr 1.5s;
    }

    .cardhear {
        margin-left:10%;
        font-size:1.6em;     
    }

    @keyframes smoothFr {
        from {
            opacity: 0;
            margin-top:30%;
        }
        to { 
            opacity: 1;
            margin-top:20%;
        }        
    }
}

@keyframes smoothFrame {
    from {
        opacity: 0;
        margin-top:25%
    }
    to { 
        opacity: 1;
        margin-top:20%;
    }        
}
@keyframes smoothFrame2 {
    from {
        opacity: 0;
        margin-top:10%;
    }
    to { 
        opacity: 1;
        margin-top:5%;
    }        
}
